<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Berry Locator</title>
</head>
<body>

<form method="post" action="{% url 'create_device' %}">
    {% csrf_token %}
    <label for="name">Name</label>
    <input type="text" name="name" id="name">
     <label for="kind">Choose a device kind:</label>
    <select id="kind" name="kind">
        <option value="Raspberry Pi 3">Raspberry Pi 3</option>
        <option value="Raspberry Pi 4">Raspberry Pi 4</option>
    </select>
    <input type="submit" value="Send it!">
</form>

</body>
</html>